
page-home {
     .registro{color:#fff}
    .scroll-content {
        @include gradiente( -180deg , color($colors, primary), color($colors, primarygradients));
    }
    .initialanimation{
        width: 100%;
        height: 65%;
        background: transparent;
        align-items: center;
    }
    .initialanimation {
        img {
            width: 25%;
            float: none;
            margin: auto;
            margin-top: 0%;
        }
    }
    .item-ios { 
        color: color($colors, light);
        background-color: color($colors, primaryb);     
    }
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    page-home  
    .initialanimation {
        width: 100%;
        height: 55%;
        background: transparent;
        align-items: center;
        @include animacion( all, 1s, ease-in-out);
        img {
            width: 75%;
            float: none;
            margin: auto;
            margin-top: 20%;
            @include animacion( all, 1s, ease-in-out);
        }       
        
    }
    ion-img.initialanimation.img-loaded.openlogin {
        height: 25%;
    }
    ion-img.initialanimation.img-loaded.openlogin img{
        margin-top: 0%;
    }

}
    
@media only screen  and (min-width : 1224px) {
 
}
.item-md{
    background: color($colors, Colorinputs);
}

#bodymovin{
    background-color:transparent;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}