page-home {}
 
page-home .scroll-content {
    background: color($colors, primary);
}
page-home  .initialanimation{
    width: 100%;
    height: 100%;
    background: transparent;
    align-items: center;
}
page-home  .initialanimation {
    img {
        width: 80%;
        float: none;
        margin: auto;
        margin-top: 35%;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */

    page-home  .initialanimation {
        img {
            width: 25%;
            float: none;
            margin: auto;
            margin-top: 4%;
        }
    }
    }
    