.ion-content.content.content-md.content-md-primary{
  color: color($colors, SecYellow);
  backface-visibility: rgb(9,79,164)!important;
}
button.item.item-block.item-md {
    background: transparent;
}